<!DOCTYPE html>
<html ng-app="blogApp">
  <head>
  	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" type="text/css"/>
  	<link rel="stylesheet" href="css/custom.css" type="text/css"/>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/blogApp.js"></script>
    <script src="js/blogControllers.js"></script>
    <script src="js/blogServices.js"></script>
  </head>
  <body ng-controller="postsController">
  	<nav class="navbar navbar-inverse">
      <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right pull-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username">
              <input type="password" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-success">Login</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
   	      <div class="container-fluid">
            <div class="panel panel-success" ng-repeat="post in posts">
              <div class="panel-heading">
                <h3 class="panel-title">{{post.title}}</h3>
              </div>
              <div class="panel-body">
                {{post.content}}
              </div>
              <div class="panel-footer clearfix">Posted By: <b>{{post.author}}</b> | {{post.date | date}}
                <span class="pull-right">Highlight this Post 
                  <button ng-click="highlightPost(post)" class="btn btn-warning glyphicon glyphicon-star btn-xs"></button>
                </span>
              </div>
            </div><!--end angular's repeat blog posts-->
  	      </div><!--End container-fluid-->
        </div><!--End column md 8-->
        <div class="col-md-3 pull-right">
      	  <div class="container-fluid">
            <div class="panel panel-success zeroMargin">
              <div class="panel-heading">
                <h3 class="panel-title">Highlighted Posts</h3>
              </div>
              <div class="panel-body zeroPad">
              	<div class="list-group zeroMargin" ng-repeat="hPost in highlightedPosts"><!--angular repeat highlighted posts-->
                  <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">{{hPost.title}}</h4>
                    <p class="list-group-item-text">{{hPost.content | limitTo:12}}...</p>
                  </a>
                </div><!--end angular repeat last 5 blog posts-->
              </div>
            </div><!--end side panel-->
          </div><!--end side container-fluid-->
        </div><!--end side column 4 div-->
      </div><!--end page row-->
    </div><!--end page container below nav bar-->
  </body>
</html>